/* employee_dashboard_styles */

.title_col{
    color: white;
}

.emp_text{
    font-size: 15px;
}

.modal-body{
    overflow-y: scroll;
    max-height: 390px;
    min-height: 150px;
    font-size: 12px;
}

.modal-content{
    width: 414px;
}

.table_view{
    font-size: 13px;
    /* overflow-x: hidden; */
}

.border-red{
    border: 1px solid red;
}

